server {
  listen 8000;
  server_name nginx;
  access_log  /var/log/nginx/own_access.log;
  error_log  /var/log/nginx/own_error.log;

  location /static {
      autoindex on;
      alias /var/www/practicalml/static/;
  }

  location / {
      proxy_pass http://practicalml:8000;
      proxy_set_header Host $NGINX_HOST;
  }

}
